.dynamic-island {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 1;
    background-color: #1f1f1f;
    padding: 0.4rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: auto;
    width: 20%;
    height: 48px;
    overflow: hidden;
    opacity: 0;
}

.dynamic-island__content {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0 1rem;
    opacity: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dynamic-island__title {
    font-size: 1rem;
    line-height: 0.9;
    font-weight: 700;
    word-wrap: break-word;
    background: linear-gradient(135deg, #ff8c42, #ffa600);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    height: 100%;
}