@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --bg-background: rgba(250, 250, 250);
    --bg-foreground: rgba(20, 20, 20, 0.95);
    --border-radius: 1.5rem;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    height: 100%;
}

button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}