@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --accent-primary: #ff42a1;
  --accent-secondary: #ff9696;
  --accent-primary-rgb: 255, 66, 161;
  --accent-secondary-rgb: 255, 150, 150;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}
