---
import Layout from "../app/layout/Layout.astro";
import Toast from "../shared/components/ui/Toast";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Weird English - Home">
  <main class="hero__main">
    <div>
      <h1 class="hero__main-title">Weird English</h1>
      <p class="hero__main-subtitle">
        Learn English in a fun and interactive way
      </p>
    </div>
    <div class="hero__main-image">
      <img
        src="/images/hero-greek.webp"
        alt="hero"
        class="hero__main-image-img"
      />
    </div>
  </main>
  <Toast client:load />
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .hero__main-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
