---
import Layout from "../layouts/Layout.astro";
import SpeechDisplay from "../components/SpeechDisplay";
import SpeechControls from "../components/SpeechControls";
---

<Layout title="Speech to Text - Weird English">
  <li slot="island-content">
    <SpeechControls client:load />
  </li>

  <main class="stt__container">
    <SpeechDisplay client:only="react" />
  </main>
</Layout>
