---
import Layout from "../layouts/Layout.astro";
import SpeechToText from "../components/SpeechToText";
---

<Layout title="Speech to Text - Weird English">
  <main>
    <SpeechToText client:load />
  </main>
</Layout>
