---
import "../styles/global.css";
import "../styles/SpeechToText.css";
import "../styles/VoiceRecorder.css";
import "../styles/PronunciationGame.css";
import "../styles/Drawer.css";
import "../styles/Toast.css";
import "../styles/DynamicIsland.css";
import { ClientRouter } from "astro:transitions";
import DynamicIsland from "../components/DynamicIsland";

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<DynamicIsland client:load key={currentPath}>
			<slot name="island-content" />
		</DynamicIsland>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
